@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Home</p>
        <p>This is just to show that we have a working ASP.NET MVC site.</p>
    </div>
</body>
</html>
